html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	font: 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.6em;
	background: white;
	min-height: 100%;
	margin: 0 auto;
	color: #474242
}

h2,
h3 {
	font: 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.hidden {
	display: none !important;
}

a {
    color: inherit;
    text-decoration: none;
}

.center-block {
	display: block;
	margin: auto;
}

ul {
	list-style: none;
}

.center-content {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-container {
	height: 100%;
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: stretch;
}

.flex-item-1,
.flex-item-3 {
	flex-basis: 30%;
	align-self: stretch;
}

.flex-item-2,
.flex-item-4 {
	flex-basis: 70%;
	align-self: stretch;
}


.blue-bg {
	background: #37a0e5;
}

.card-label {
	color: white;
	font-size: 3em;
}

input[type="text"] {
	border: 1px solid #7bcdfd;
	background-color: white;
	border-radius: 2px;
	line-height: 1.6em;
}

.left-card-2 {
	position: relative;
}

.left-card-2 ul li {
	color: white;
}

.add-task-input,
.button-task {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
}

.add-task-input {
	box-sizing: border-box;
	visibility: hidden;
	height: 2em;
}

.show-input {
	animation-name: show-add-task;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes show-add-task{
	0%   {
		bottom: 0; 
		visibility: hidden;
	}
	100% {
		bottom: 3em;
		visibility: visible 
	}
} 

.hide-input {
	animation-name: hide-add-task;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes hide-add-task{
	0% {
		bottom: 3em;
		visibility: visible 
	}
	100%   {
		bottom: 0; 
		visibility: hidden;
	}
} 

.button-login {
	margin: 0 auto;
	width: 100%;
}

.button-style-1 {
	padding: 0.75em 0;
	background-color: white;
	border: 1.2px solid #37a0e5;
	color: #37a0e5;
}

.left-card-1 {
	flex-basis: 70%;
}

.left-card-1 input[type="text"] {
	width: 100%;
	margin-bottom: 1em;
}

.left-card-1 h3 {
	text-align: center;
	font-size: 2em;
}

.user-content {
	background-color: white;
	font-size: 1.2em;
	text-align: center;
	color: #379fe5c0;
	padding: 0.75em 0;
	margin: 0 auto;
}

header h2 {
	background-color: rgb(219, 217, 217);
	padding: 0.75em 0;
	margin: 0 auto;
	margin-bottom: 2%;
	color: white;
	text-align: center;
	font-size: 1.2em;
}

.button-search {
	width: 15%;
	padding: 0;
	font-size: 1em;
}

.button-search,
.search-input {
	display: inline-block;
	margin: 0;
	height: 2em;
	box-sizing: border-box;
}

.search-input {
	width: 80%;
	margin: 0 1% 0 1%;
}

.right-card-2 {
	background-color: rgb(243, 242, 242);
	margin: 0;
}

.right-card-2 section {
	background-color: white;
	padding: 2em;
	margin: 1em;
	height: 70%;
	position: relative;
}

.button-add {
	height: 3em;
	width: 3em;
	background-color: #37a0e5;
	border: 1.6px solid #379fe5c7;
	color: white;
	border-radius: 3em;
	position: absolute;
	right: 1em;
	bottom: 1em;
}

.button-add:focus, .add-item-dialog:focus, .add-item-input:focus {
	outline: none;
	outline-style:none;
	border: 0;
}

.add-item-dialog, .add-item-input {
	box-sizing: border-box;
	visibility: hidden;
	height: 0;
	width: 0;
}
.add-item-input{
	position: relative;
}

.add-item-dialog {
	padding: 1em;
	background-color: #37a0e5;
	color: white;
	position: absolute;
	bottom: 3em;
	right: 3em;
}

.show-dialog {
	animation-name: show-item-dialog;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes show-item-dialog{
	0%   {
		height: 0;
		width: 0;
		visibility: hidden;
	}
	100% {
		height: 5em;
		width: 20em;
		visibility: visible;
	}
} 

.hide-dialog {
	animation-name: hide-item-dialog;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-delay: 0s;
}

@keyframes hide-item-dialog{
	0% {
		height: 5em;
		width: 20em;
		visibility: visible;
	}
	100%   {
		height: 0;
		width: 0;
		visibility: hidden;
	}
} 

.show-add-item-input {
	animation-name: show-item-input;
	animation-duration: 0.6s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-delay: 0.3s;
}

@keyframes show-item-input{
	0%   {
		height: 0;
		width: 0;
		visibility: hidden;
	}
	100% {
		height: 2em;
		width: 10em;
		visibility: visible;
	}
} 

.hide-add-item-input {
	animation-name: hide-item-input;
	animation-duration: 0.4s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	/* animation-delay: 0.1s; */
}

@keyframes hide-item-input{
	0% {
		height: 2em;
		width: 10em;
		visibility: visible;
	}
	100%   {
		height: 0;
		width: 0;
		visibility: hidden;
	}
} 

/* .checkbox input[type="checkbox"] {
    opacity: 0;
}

.checkbox label::before{
    content: "";
    display: inline-block;
    height: 1em;
    width: 1em;
    border: 1px solid;   
}

.checkbox label::after {
    content: "";
    display: inline-block;
    height: 6px;
    width: 9px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(-45deg);
}

.checkbox label {
	position: relative;
	
}
.checkbox label::before,
.checkbox label::after {
	position: absolute;
}

.checkbox label::before {
	top: 0;
}

.checkbox label::after {
    right: 4.2em;
	top: 0.18em;
	color: #37a0e5;
}

.checkbox input[type="checkbox"] + label::after {
    content: none;
}

.checkbox input[type="checkbox"]:checked + label::after {
    content: ""; 
}
*/


@media (max-width:480px) {
	.flex-container {
		flex-direction: column;
		justify-content: flex-start;
	}

	.flex-item-1 {
		order: 1;
		flex-basis: 80%;
	}

	.flex-item-2 {
		order: -1;
		flex-basis: 20%;
	}

	.card-label {
		font-size: 2em;
	}
}